# The .dockerignore file excludes files from the container build process.
#
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

.dockerignore
.gitignore
.DS_Store
.vscode
.idea
bin
certs
vendor
go.work*
